* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #400e7d;
}

.center {
  margin: 0 auto;
  padding: 0 2%;
}

.header-painel h2 {
  width: 100%;
  padding: 20px;
  margin: -20px 0 0 0;
  background-color: #000000;
  text-align: center;
  color: #e95077;
}

form {
  padding: 10px;
  margin: 20px 0;
}

form input {
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #e95077;
  color: #e95077;
}

form textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #e95077;
  color: #e95077;
  padding: 10px;
}

form input[type='submit'] {
  width: 100%;
  height: 40px;
  font-size: 20px;
  background-color: #e95077;
  border: 0;
  color: #400e7d;
  cursor: pointer;
}

.header-painel-noticia h3 {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  background-color: #000000;
  text-align: center;
  color: #e95077;
}

div.noticia-single {
  margin-top: 20px;
  border-bottom: 2px dashed #e95077;
  color: #e95077;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.noticia-single a {
  color: #e95077;
}

footer {
  background-color: #000000;
  text-align: center;
  color: #e95077;
  padding: 36px 120px;
  margin-top: 500px;
}
